[Desktop Entry]
Version=1.0
Type=Application
Name=Enterprise
Comment=
Exec=tmux new-window -n vpn "sudo pkill -9 openvpn;sudo openvpn /home/kali/VPN/enterprise.ovpn"
Icon=/home/kali/Pictures/htb.svg
Path=
Terminal=true
StartupNotify=false
